.controller-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 26px;
    margin: 28px;
}

.box{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
}

.controller-container a{
    font-size: 22px;
    font-weight: 300;
}