.card-2-title{
    margin-top: 96px;
    margin-bottom:  20px;
    font-weight: 500;
}

.card-2-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    cursor: pointer;
}